@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import './style-variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mr5 {
    margin-right: 5px;
}

.mtn20 {
    margin-top: -20px;
}

.centering-row-content {
    justify-content: center;
}

.left-row-content {
    justify-content: flex-end;
}

.bg-color-error {
    background-color: $bg-color-error;
}

.font-color-error {
    color: $font-color-error;
}

.subtitle {
    color: rgb(95, 95, 95);
}

.center-text {
    text-align: center;
}