ul {
    margin-left: 20px;
    li {
        list-style: none;
        margin-right: 20px;
        font-size: 10pt;
        a {
            text-decoration: none;
            color: #ffffff;
        }
        a:hover {
            color: #cccccc;
        }
    }
}

.navigation-second-row {
    display: none;
    ul {
        margin-left: 0;
    }
}

@media(max-width: 600px) {
    .navigation-first-row {
        display: none;
    }
    .navigation-second-row {
        display: block;
    }
}